certifi==2023.7.22
chardet==3.0.4
dnspython==2.6.1
future==0.18.3
idna==3.7
pkg-resources==0.0.0
python-whois==0.7.3
requests==2.32.0
requests-file==1.5.1
six==1.15.0
tldextract==2.2.3
urllib3==2.5.0
